body{
    padding-top: 3em;
    padding-bottom: 3em;
    background-image: url('../images/pattern.png');
    background-repeat: repeat;
}
.bg-primary{
    background-color: #a593c2 !important;
}
.jumbotron{
    height: 40vh;
    background-size: cover;
}
.jumbotron-other{
    background: url('../images/applepie.png') repeat fixed;
}
.jumbotron-detail-apple-pie{
    background: url('../images/applepie.png') repeat fixed;
}
.btn-large{
    width: 100%;
}
/* Adjust carousel image height */
#pieCarousel .carousel-item img {
    height: 400px;         /* Set your desired height */
    object-fit: cover;     /* Ensures image covers area without distortion */
    width: 100%;
}

@media (max-width: 768px) {
    #pieCarousel .carousel-item img {
        height: 220px;     /* Smaller height for mobile */
    }
}
.carousel-caption{
    bottom: 3rem;
    z-index: 10;
}
.carousel-item{
    height: 32rem;
    max-width: 100vw;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.welcome-carousel-image1{
    box-shadow: inset 0 0 0 100vw rgba(0, 0, 0, 0.3);
    background-image: url('../images/carousel1.png');
}
.welcome-carousel-image2{
    box-shadow: inset 0 0 0 100vw rgba(0, 0, 0, 0.3);
    background-image: url('../images/carousel2.png');
}
.welcome-carousel-image3{
    box-shadow: inset 0 0 0 100vw rgba(0, 0, 0, 0.3);
    background-image: url('../images/carousel3.png');
}