<div class="product">
        <div class="product-details">
          <img [src]="getImageUrl(product)" [alt]="product.name" />
          <div class="product-info">
            <div class="name red">{{ product.name}}</div>
            <div class="description">{{product.description}}</div>
            <div class="category">Part Type: {{product.category}}</div>
          </div>
        </div>
        <div class="price">
          <div class="bold" [style]="{'color': product.discount > 0 ? 'green' : ''}"
             [ngClass]="getDiscountedPrice(product)">{{product.price | currency }}
            </div>
          <div *ngIf="product.discount > 0" class="discout">
            {{(product.price * (1 - product.discount)) | currency}}
          </div>
          <button class="cta" (click)="buyButtonClicked(product)">Buy</button>
        </div>
      </div>